name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Wait for Deployed API
      run: |
        echo "Esperando a que la API responda en ${{ secrets.NEXT_PUBLIC_API_URL }}"
          
          # 'timeout' fallará después de 120 segundos
          # 'until' seguirá intentando el comando 'curl' hasta que tenga éxito
          timeout 120 bash -c ' \
            until curl -s -L --output /dev/null ${{ secrets.NEXT_PUBLIC_API_URL }}; \
            do \
              echo "API no responde (o está arrancando), esperando 5s más..."; \
              sleep 5; \
            done'
            
          echo "¡API detectada! Continuando..."
      env:
        NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}

    - name: Run Playwright tests
      run: npx playwright test
      env:
        CI: true
        NEXT_PUBLIC_API_URL: ${{ secrets.NEXT_PUBLIC_API_URL }}

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30